.main-div-home {
  padding: 20px;
}

.personal-info {
  text-align: left;
  font-size: 24px;
  font-family: "Courier New", monospace;
  max-width: 900px;
  white-space: pre-line; /* Ensures newline rendering */
  overflow: hidden;
}

.typing-text {
  display: inline-block;
}

.small-text {
  font-size: 20px;
  display: block;  
}
